@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">GK! Esate ateitininkų duomenų bazėje</h3>
    <h5><a href="/People/People">Eiti į bazę</a></h5>
    <p>Apie ateitininkus <a href="ateitininkai.lt">ateitininkai.lt</a>.</p>
</div>

