@page
@model PeopleModel
@{
    ViewData["Title"] = "People page";
}

<div class="text-center">
    <h2 class="display-4">Asmenų sąrašas</h2>
</div>

<div>
    <a type="button" class="btn btn-primary" asp-area="" asp-page="/People/CreatePerson">Pridėti asmenį</a>
</div>

<div>
    @await Html.PartialAsync("Tables/_PeopleTables", new Tables._PeopleTablesModel(Model.peopleRepository))
</div>

